body {
  background-color: #FFFFEO; 
  font-family: Arial, sans-serif; 
  color: #19197; 
}

.kartu-profile {
  width: 300px;
  margin: 50px auto:
padding: 20px;
  background-color: white;
  berder-radius: 15px;
  box-shadow: 0 4px rgba (0,0,0,0,1)
  .kartu-profile img:{
  width: 150px
  berder-radius: 50%;
